
.hero{
  background: url(../img/main-banner.jpg) 50% 50% no-repeat;
  background-size: cover;
  padding: $spacing-unit*8 0;
  text-align: center;
  z-index: 1;
  position: relative;

  &:after{
    @include overlay($black, 0.4);
  }
}

.slide{
  position: relative;
  padding: $spacing-unit*3 0;
  z-index: 1;
  & .slide-row{
    padding: $spacing-unit 0;
    position: relative;

    h2{
      text-align: center;
    }

  }
}

.light-slide{
  background: $white;
  //border-bottom: 3px solid darken($white, 4%);
}

.dark-slide{
  background: $main-color;
  color: $white;

  h1,h2,h3,p{
    color: $white;
  }

}

.person p{
  font-weight: bold;
  color: $silver;
}

.solution{
  background: url(../img/desk.jpg) 0% 20% no-repeat fixed;
  background-size: cover;
  h1,h2, .content p{
    color: $white;
  }
  &:after{
    @include overlay($black, 0.4);
  }

}


.flex{
  @include flexbox();
}
