.top-bar-section ul li>a {
  @include animate();
}

.logo-container{
  background: $main-color;
  img{
  	display: block;
  	margin: 0 auto;
    height: inherit;
  }

}


.logo {
  max-width: 4rem;
  margin-right: auto;
  //margin-top: .5rem;
}


.top-bar{
  height: 4.8125rem;
}
